.date-filter__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 10% 0;

  @media (max-width: 1000px) {
    padding: 24px;
  }
}

.date-filter__field {
  width: 240px;
}

.date-filter__field.MuiFormControl-root {
  padding: 9px;
}

.date-filter__control {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 15px;
}

.date-filter__confirm-btn {
  margin: 0 25px;
}

.date-filter__cancel-btn {
  cursor: pointer;
}


