.add-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 24px 10%;
  margin-top: 10px;

  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  @media (max-width: 1000px) {
    padding: 24px;
  }

  &__fields {
    display: flex;
    justify-content: space-between;
    width: 86%;
  }

  &__control {
    width: 24%;
  }

  &__control:not(:last-child) {
    margin-right: 12px;
  }

  &__field {
    height: 45px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font: 300 18px "Roboto";
    resize: none;
    overflow: hidden;
  }

  &__complains {
    padding: 4px;
  }

  .MuiInputBase-input {
    height: 45px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border: none;
    font: 300 18px 'Roboto';
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }

  &__submit-btn {
    height: 45px;
    margin-bottom: 4px;
    
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font: 300 18px 'Roboto';
    line-height: 1;
    cursor: pointer;
  }
}
