.form-modal {
  .add-form__label {
    margin-bottom: 10px;
  }

  .add-form {
    padding: 0;
    box-shadow: none;
  }

  .add-form__fields {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .add-form__control {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .add-form__field {
    font: 300 18px 'Roboto';
  }

  .add-form__complains {
    padding: 20px;
    height: auto;
  }

  .add-form__submit-btn {
    display: none;
  }

  .MuiDialog-paperWidthSm {
    max-width: 650px;
    width: 100%;
  }

  .MuiTypography-h6 {
    font-size: 36px;
    line-height: 1;
  }

  .MuiDialogTitle-root {
    padding: 24px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .MuiDialogContent-root {
    padding: 24px 40px 60px;
  }

  .MuiDialogActions-root {
    padding: 24px 40px;
    box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
