.appointments {
  padding: 24px;

  &__header {
    display: grid;
    grid-template-columns: 25% 25% 18% 21% 11%;
    width: 100%;
    padding: 24px 0 15px;

    background-color: #c4c4c4;
  }

  &__header-item {
    text-align: center;
  }

  &__body {
    max-height: 450px;

    border: 1px solid #000000;
    background-color: #ffffff;
    overflow-y: scroll;
  }

  &__body-row {
    display: grid;
    grid-template-columns: 25% 25% 18% 21% 11%;
  }

  &__row-item {
    padding: 20px 8px;
    text-align: center;
    border-bottom: none;
    border-top: none;
    word-wrap: break-word;
    border-top: none;
  }

  &__row-item:not(:last-child) {
    border-right: 1px solid #000000;
  }

  &__row-item:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent; 
  }
}
